/*-----------GENERAL---------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}

/*----------LAYOUT---------------*/
body {
  background-color: #9b9281;
  width: 100%;
}
.flex-container {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-basis: 1050px;
}
aside {
  background-color: #c9cacc;
  flex-basis: 340px;
}
main {
  background-color: #dddee0;
  flex-basis: 710px;
}
/*------------ASIDE-----------------*/
aside figure img {
  background-color: #f5f5f5;
  display: block;
  margin: 40px auto 10px;
}
aside figure figcaption {
  background-color: #f5f5f5;
  padding: 0 40px;
  text-align: center;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 40px;
}
aside section p {
  background-color: #f5f5f5;
  margin: 40px;
  line-height: 15px;
}
