/*-----------GENERAL---------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
}
a {
  color: #1a1a1c;
}
a:hover {
  color: #dddee0;
}
/*----------LAYOUT---------------*/
body {
  background-color: #9b9281;
  width: 100%;
}
.flex-container {
  width: 1050px;
  margin: 0 auto;
  display: flex;
  flex-basis: 1050px;
}
aside {
  background: #c9cacc url("../img/aside-background.png") repeat-y;
  flex-basis: 340px;
}
main {
  background-color: #dddee0;
  flex-basis: 710px;
}
/*------------ASIDE-----------------*/
aside figure img {
  display: block;
  margin: 40px auto 10px;
}
aside figure figcaption {
  padding: 0 40px;
  text-align: center;
  line-height: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 40px;
}
aside section p {
  margin: 40px;
  line-height: 15px;
}
aside section h2 {
  background-color: #1a1a1c;
  color: #c9cacc;
  text-transform: uppercase;
  margin: 100px 40px 0;
  padding: 4px 0;
  text-align: center;
}
aside section .info {
  margin-top: 10px;
  height: 60px;
}
aside section .info img {
  position: relative;
  top: 10px;
  left: 60px;
}
aside section .info h3 {
  position: relative;
  top: -30px;
  left: 110px;
}
aside section .info p {
  position: relative;
  top: -67px;
  left: 70px;
}
/*----------------MAIN--------------*/
main section {
  margin: 40px;
}
main section h2 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 37px;
  letter-spacing: 5px;
  border-bottom: #1a1a1c 2px solid;
}
main .info-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
main .info-container .date {
  flex-basis: 120px;
}
main .info-container .info-2 {
  flex-basis: 510px;
}
main .info-container h3 {
  font-weight: bold;
  font-size: 25px;
}
main .info-container h4 {
  font-size: 20px;
}
main .info-container h5 {
  font-weight: bold;
  font-size: 20px;
}
main .info-container p {
  font-size: 16px;
}
main section .info-languages{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main section .info-languages .info-languages-block {
  flex-basis: 30%;
  margin: 40px 10px;
}
main section .info-languages .info-languages-block h3{
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
  text-align: center;
}
main section .info-languages .info-languages-block h4{
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 2px;
  text-align: center;
}
